.container {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 80%;
}

.square {
    width: 200px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}

.show-color {
    display: block;
    height: 400px;
    width: 80%;
    border-radius: 10px;
    
}

.show-color .color {
    text-align: center;
    font-size: 2rem;
}